<!-- <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Text Field</mat-label>
      <input matInput formControlName="textField" />
      <mat-error *ngIf="myForm.get('textField').invalid && myForm.get('textField').touched">
        <span *ngIf="myForm.get('textField').errors?.['required']">This field is required.</span>
      </mat-error>
    </mat-form-field>
  
    <button mat-raised-button type="submit" [disabled]="myForm.invalid">Submit</button>
  </form>
   -->